<div>
    <form id="searchForm" method="post" action="/browse/search">
        <table>
            <tr>
                <td>
                    <label for="searchID"></label>
                    <input type="text" class="form-control" id="searchID" name="search" placeholder="search here.." />
                </td>
                <td>
                    </br>
                    <button type="submit" class="btn btn-default">Search</button>
                    <!--<button type="submit" onclick="searchProducts()" class="btn btn-default">Search</button>-->
                    <!--<button type="submit" onclick="alert('search')" class="btn btn-default">Search</button>-->
                </td>
            </tr>
        </table>
    </form>
    <div>
        {{#each searchproducts}}
        <div class="row">
            <h2><a href="/products/{{_id}}">{{title}}</a></h2>
            <div class="col-xs-4">
                <img src="/{{productImage}}" class="img-rounded" width="150" height="110" alt="product" />
            </div>
            <div class="col-xs-6">
                <p>Description: {{description}}</p>
                <p>Condition: {{condition}}</p>
                <p>Price: ${{price}}</p>
            </div>
        </div>
        {{/each}} </br>
        {{#if message}}
        <div class="alert alert-danger" style="width: 150px;">
            <p><strong></strong>{{message}}</p>
        </div>
        {{/if}}
    </div>
    {{#if products}}
    <h1>Products</h1>
    {{/if}}

    <table>
        <tr>
            <td>
                {{#each products}}
                <div class="row">
                    <h2><a href="/products/{{_id}}">{{title}}</a></h2>
                    <div class="col-xs-6">
                        <img src="/{{productImage}}" class="img-rounded" style="width:40%; height:40%;" alt="product" />
                    </div>
                    <div class="col-xs-6">
                        <p>Description: {{description}}</p>
                        <p>Condition: {{condition}}</p>
                        <p>Price: ${{price}}</p>
                    </div>
                </div>
                {{/each}}
            </td>
        </tr>
    </table>
    
</div>
