{{#if products}}
<div class="outerDiv">
    <div class="innerDiv">
        <table>
            {{#each products}}
            <div class="row">
                <h2><a href="/products/{{_id}}">{{title}}</a></h2>
                <div class="col-xs-6">
                    <img src="/{{productImage}}" class="img-rounded" width="150" height="110" alt="product" />
                </div>
                <div class="col-xs-6">
                    <!--<p>Title: {{title}}</p>-->
                    <p>Description: {{description}}</p>

                    <!--<span class="label label-info">{{status}}</span>-->
                </div>
            </div>

            {{/each}}
        </table>
    </div>
</div>
{{else}}
<h1 style="padding-left: 80px">You currently have no products. <a href="/sell/sellProduct">Add a product here.</a></h1>
{{/if}}
