<div>
    <table style="width: 100%">
        <tr>
            <td style="padding-left: 80px">
                <h3>Hello, {{user.firstName}}</h3>
            </td>
            <td>
                <strong><a href="/logout"><h3>Sign out</h3></a></strong>
            </td>
        </tr>
        <tr>
            <td style="padding-left: 40px">
                <div class="innerDiv">
                    <strong><a href="/myProfile">Back to profile</a></strong>
                </div>
            </td>
        </tr>
    </table>
    <table style="width: 40%">
        {{#each products}}
            <tr>
                <td style="padding-left: 80px">
                    {{title}}
                    {{description}}
                    {{condition}}
                    {{status}}
                </td>
                <td>
                    <img src="/{{productImage}}"/>
                </td>
            </tr>
        {{/each}}

    </table>
</div>

<style>
    .outerDiv {
        display: flex;
    }

    .innerDiv {
        flex: 1;
        padding: 1em;
        padding-left: 80px
    }

    a {
        color: #FFFFFF;
    }
</style>
