<div class="outerDiv">
    <div class="innerDiv">
        <table>
            {{#if product }}
            <tr>
                <h3 style="color: #727272;">Product</h3>
            </tr>
            <tr>
                <td>
                    <p hidden id="productId">{{ product._id }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Title : </h4>
                </td>
                <td>
                    <h4>
                        <p id="title">{{ product.title }}</p>
                    </h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Condition: </h4>
                </td>
                <td>
                    <h4>
                        <p id="condition">{{product.condition}}</p>
                    </h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Purchased Year: </h4>
                </td>
                <td>
                    <h4>
                        <p id="purchasedYear">{{ product.purchasedYear }}</p>
                    </h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Description: </h4>
                </td>
                <td>
                    <h4>
                        <p id="description">{{ product.description}}</p>
                    </h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Price: </h4>
                </td>
                <td>
                    <h4>
                        <p id="price">{{ product.price}}</p>
                    </h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Status: </h4>
                </td>
                <td>
                    <h4>
                        <p id="status">{{ product.status}}</p>
                    </h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Image: </h4>
                </td>
                <td>
                    <h4>
                        <img src="/{{product.productImage}}" class="img-rounded" width="80%" height="80%" alt="productpic" />
                    </h4>
                </td>
            </tr>
            {{/if}}
        </table>

    </div>

    {{#if currUser}}
    <div>
        {{#if product }}
        <table style="width: 80%;">
            <tr>
                <td>
                    <form id="updateProductForm" method="POST" action="/products/editProduct/edit">
                        <input type="hidden" name="updateProductID" id="updateProductID" value="{{product._id}}" />
                        <button type="submit">Edit</button>
                        <!--<button type="button" onclick="/products/removeProduct/"+{{product._id}}>Remove</button>-->
                    </form>
                </td>
                <td>
                    <a href="/products/removeProduct/{{product._id}}" class="button">Remove Product</a>
                </td>
            </tr>
        </table>
        {{/if}}
    </div>
    {{else}}
    <div class="innerDiv">
        <table>
            {{#if productUser }}
            <tr>
                <h3 style="color: #727272;">Seller's Contact Information</h3>
            </tr>
            <tr>
                <td>
                    <h4>First Name : </h4>
                </td>
                <td>
                    <h4>
                        <p id="firstName">{{ productUser.firstName}}</p>
                    </h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Last Name : </h4>
                </td>
                <td>
                    <h4>
                        <p id="lastName">{{ productUser.lastName}}</p>
                    </h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Email : </h4>
                </td>
                <td>
                    <h4>
                        <p id="email">{{ productUser.email}}</p>
                    </h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Contact No : </h4>
                </td>
                <td>
                    <h4>
                        <p id="phone">{{ productUser.phoneNumber}}</p>
                    </h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Address : </h4>
                </td>
                <td>
                    <h4>
                        <p id="address">{{ productUser.address}}</p>
                    </h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>City : </h4>
                </td>
                <td>
                    <h4>
                        <p id="city">{{ productUser.city}}</p>
                    </h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>State : </h4>
                </td>
                <td>
                    <h4>
                        <p id="state">{{ productUser.state}}</p>
                    </h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Zip Code : </h4>
                </td>
                <td>
                    <h4>
                        <p id="zipCode">{{ productUser.zipCode}}</p>
                    </h4>
                </td>
            </tr>
            {{/if}}
        </table>
    </div>
    {{/if}}
    <a href="/myprofile">Back</a>
</div>

<link rel="stylesheet" href="../public/css/productInfo.css">
