<div class="outerDiv">
    <div class="innerDiv">
        <table>
            {{#if product }}
            <tr>
                <td>
                    <p id="productId" class="hide">{{ product._id }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    Title : 
                </td>
                <td>
                    <p id="title">{{ product.title }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    Condition:
                </td>
                <td>
                    <p id="condition">{{product.condition}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    Purchased Year:
                </td>
                <td>
                    <p id="purchasedYear">{{ product.purchasedYear }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    Description: 
                </td>
                <td>
                    <p id="description">{{ product.description}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    Price: 
                </td>
                <td>
                    <p id="price">${{ product.price}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    Status:
                </td>
                <td>
                    <p id="status">{{ product.status}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    Image:
                </td>
                <td>
                    <img src="/{{product.productImage}}" class="img-rounded" style="width:50%; height:20%;" alt="productpic" />
                </td>
            </tr>
            {{/if}}
        </table>

    </div>

    {{#if currUser}}
    <div class="updateProductOption">
        {{#if product }}
        <table style="width: 80%;">
            <tr>
                <td>
                    <form id="updateProductForm" method="POST" action="/products/editProduct/edit">
                        <input type="hidden" name="updateProductID" id="updateProductID" value="{{product._id}}" />
                        <button type="submit" class="btn btn-primary">Edit</button>
                        <!--<button type="button" onclick="/products/removeProduct/"+{{product._id}}>Remove</button>-->
                    </form>
                </td>
                </tr>
                <tr>
                <td>
                    <a href="/products/removeProduct/{{product._id}}" ><button class="btn btn-danger">Remove</button></a>
                </td>
            </tr>
        </table>
        {{/if}}
    </div>
    {{else}}
    <div class="innerDiv">
        <table>
            {{#if productUser }}
            <tr>
                <p style="color: #727272;">Seller's Contact Information</p>
            </tr>
            <tr>
                <td>
                    First Name :
                </td>
                <td>
                    <p id="firstName">{{ productUser.firstName}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    Last Name :
                </td>
                <td>
                    <p id="lastName">{{ productUser.lastName}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    Email :
                </td>
                <td>
                    <p id="email">{{ productUser.email}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    Contact No :
                </td>
                <td>
                    <p id="phone">{{ productUser.phoneNumber}}</p>
                </td>
            </tr>
            {{/if}}
        </table>
    </div>
    {{/if}}
    <a href="/myprofile">Back</a>
</div>

<link rel="stylesheet" href="../public/css/productInfo.css">
