<div class="row">
    <div class="col-sm-10"><br/>
        <form id="updateProduct" onsubmit="return validateUpdateProductForm()"  method="POST" action="/products/editProduct/" enctype="multipart/form-data">
            <table class="tableBorder">
                <tr>
                    <div class="form-group hidden" id="error-container">
                        <div class="alert alert-danger text-goes-here">
                            {{ error }}
                        </div>
                    </div>
                    {{#if error }}
                        <div class="form-group" id="error-container">
                            <div class="alert alert-danger text-goes-here">
                                {{ error }}
                            </div>
                        </div>
                    {{/if}}
                </tr>
            </table>
            <table class="tableBorder">
                <th>
                    <h1>Edit Product's details</h1>
                </th>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input type="hidden" name="productID" id="updateProductID" value="{{product._id}}" />
                            <input type="text" class="form-control" id="title" name="title" placeholder="Enter title" value="{{product.title}}">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <input type="text" class="form-control" id="description" name="description" placeholder="Enter description" value="{{product.description}}">
                        </div>
                    </td>
                </tr>
                <!-- -->
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="condition">Condition of the Product</label>
                            <input type="text" class="form-control" id="condition" name="condition" placeholder="E.g. New or Used." value="{{product.condition}}">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label for="purchasedYear">Purchased in year</label>
                            <input type="number" class="form-control" id="purchasedYear" name="purchasedYear" placeholder="Enter the year product was purchased" value="{{product.purchasedYear}}">
                        </div>
                    </td>
                </tr>
                <!-- -->
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="status">Status</label>
                            <select style="color:black" class="form-control" id="status" name="status">
                                <option value="unsold" selected>Unsold</option>
                                <option value="sold">Sold</option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label for="price">Price $</label>
                            <input type="number" class="form-control" id="price" name="price" placeholder="Eg. $100" value="{{product.price}}">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="productImage">Product images</label>
                            <input type="file" class="form-control" id="productImage" name="productImage" value="{{product.productImage}}">
                            <img style="height:50px;width:50px;float:left; display: none;" id="imageHome" src="#" alt="productimage"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <button type="submit" class="btn btn-default">Submit</button>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

<style>
    table {
        width: 100%;
        border-collapse: separate;
    }
    .tableBorder {
        border-spacing: 50px 0 !important;
    }
    td {
        width: 300px;
        padding: 10px 0;
    }
    th{
        text-align: center;
    }
</style>
